[Unit]
Description=Google Assistant Virtual Device Proxy
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=30
SyslogIdentifier=ga-virtualdevice-proxy
WorkingDirectory=/home/pi/ga-virtualdevice-proxy
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target